<div id="banner">
  <h1 class="title">Hello From <b>ArvanCloud</b></h1>
  <div class="subtitle">This is a sample <b>Go</b> application deployed to <b>ArvanCloud</b>.</div>
  <div>
    <a href="https://github.com/arvancloud/paas-golang-sample" class="btn primary">Source Code</a>
  </div>
</div>
